/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-gilroy), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #1688fe;
  text-decoration: none;
}
h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h5 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

input[type="checkbox"] {
  margin-right: 8px;
}
