.container {
  display: flex;
  height: 100vh;
  overflow-y: auto;
}

.sidebar {
  width: 256px; /* Google Material Design recommendation */
  height: 100vh;
  background-color: #333;
  color: white;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main {
  padding: 32px;
  height: max-content;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main > div > p {
  color: #4c4c55;
}

.divider {
  border-bottom: 1px solid #e3e3e4;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main {
    padding: 18px;
  }
}
